$bg: #fff;
$text: #1f2b38;
$accent: #f1f1f1;
$button_highlight: #555;
$border: #ccc;

@import url(https://fonts.googleapis.com/css2?family=DM+Mono&family=Montserrat&family=Roboto+Slab:wght@300;400&display=swap);

body {
  background-color: $bg;
  color: $text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
  margin: 1em auto;
}

p {
  margin-block: 0.5em;
}

@media only screen and (max-width:650px) and (min-width:0px) {
  form {
    width: 90%;
  }
  .smallSubmit {
    display: inline-block;
  }
  .largeSubmit {
    display: none;
  }
  input[type=text] {
    width: 80%;
  }
  input[type=submit] {
    width: 20%;
  }
  .returnStat {
    width: 90%;
  }
  #description {
    width: 90%;
  }
  .gridBox {
    grid-template-areas: 
      'topRow'
      'leftHalf'
      'rightHalf'
      'bottomRow';
    grid-template-columns: 100%;
  }
  .gridBox2 {
    grid-template-areas: 
      'left middle';
    grid-template-columns: 40% 1fr;
  }
}

@media only screen and (min-width:650px) and (max-width:1000px) {
  form {
    width: 60%;
  }
  .smallSubmit {
    display: inline-block;
  }
  .largeSubmit {
    display: none;
  }
  input[type=text] {
    width: 80%;
  }
  input[type=submit] {
    width: 20%;
  }
  .returnStat {
    width: 65%;
  }
  #description {
    width: 60%;
  }
  .gridBox {
    grid-template-areas: 
      'topRow topRow'
      'leftHalf rightHalf'
      'bottomRow bottomRow';
    grid-template-columns: 50% 50%;
  }
  .gridBox2 {
    grid-template-areas: 
      'left middle right';
    grid-template-columns: 40% 1fr;
  }
}

@media only screen and (min-width:1000px) {
  form {
    width: 50%;
  }
  .smallSubmit {
    display: none;
  }
  .largeSubmit {
    display: inline-block;
  }
  input[type=text] {
    width: 80%;
  }
  input[type=submit] {
    width: 20%;
  }
  .returnStat {
    width: 40%;
  }
  #description {
    width: 50%;
  }
  .gridBox {
    grid-template-areas: 
      'topRow topRow'
      'leftHalf rightHalf'
      'bottomRow bottomRow';
    grid-template-columns: 50% 50%;
  }
  .gridBox2 {
    grid-template-areas: 
      'left middle right';
    grid-template-columns: 30% 33% 1fr;
    text-align: center;
  }
}

.App {
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: $text;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

#block {
  position: relative;
  height: calc(50px + 2vmin);
  bottom: 5px;
  margin-right: 1vw;
  vertical-align: middle;
}

#description {
  margin: 0 auto;
}

input[type=text] {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid $border;
  border: none;
  border-radius: 10px 0px 0px 10px;
  box-sizing: border-box;
  font-size: 1em;
  height: 3em;
  box-shadow: 1px 1px 10px 5px $accent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=text]:focus {
  outline: none;
}

input[type=submit] {
  background-color: $text;
  color: $bg;
  border: 1px solid $text;
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 1em;
  height: 3em;
  cursor: pointer;
  box-shadow: 1px 1px 10px 5px $accent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=submit]:hover {
  background-color: $button_highlight;
  border-color: $button_highlight;
}

.returnStat {
  margin: 1vh auto;
  padding: 1vh 1vw;
  // border: 2px solid $accent;
  // border-radius: 10px;
  // margin-bottom: 10vh;
  // box-shadow: 1px 1px 10px 5px $accent;
}

.favicon {
  float: left;
  margin: 11px 0px 0px 0px;
  vertical-align: middle;
  border-radius: 5px;
}

#dot {
  display: inline-block;
  margin-right: 1vw;
  font-size: 32px;
}

.status {
  display: inline-block;
}

.info {
  text-align: left;
}

.info .keys {
  color: #131a21;
}

.footer {
  width: 100%;
  margin: 0 auto;
  font-size: 0.7em;
  position: fixed;
  bottom: 0;
  padding: 1.5em 0;
  font-family: 'DM Mono', 'Courier New', Courier, monospace;
  text-align: center;
  // border: 2px solid red;
  background-color: #0089ff;
  overflow: hidden;
}

a:visited {
  color: $text;
}

#topRow {
  grid-area: topRow;
  padding: 5px;
}

#leftHalf {
  grid-area: leftHalf;
  width: 1fr;
  padding: 5px;
}

#rightHalf {
  grid-area: rightHalf;
  padding: 5px;
}

#bottomRow {
  grid-area: bottomRow;
  padding: 5px;
}

.gridBox {
  display: grid;
  width: 100%;
}

#left {
  grid-area: left;
}

#middle {
  grid-area: middle;
}

#right {
  grid-area: right;
}

.gridBox2 {
  display: grid;
  width: 100%;
  padding: 5px;
}

.lazyFavicon {
  width: 64px;
  height: 64px;
  background-color: $accent;
}

.lazyStatus {
  height: 32px;
  width: 150px;
  margin-top: 28px;
  color: $accent;
  border-radius: 5px;
  background-color: $accent;
  margin-left: 30px;
  margin-block-end: 0.67em;
}

/* 
  --------------
  Pulse effect animation 
  Activated by adding a '.pulse' class to the placeholder
  https://stackoverflow.com/questions/45675344/lazy-load-style-text-as-seen-on-new-youtube-design
  --------------
*/

.placeholder.pulse span {
  animation: pulse 1s infinite ease-in-out;
  -webkit-animation:pulse 1s infinite ease-in-out;
}

@keyframes pulse
{
  0%{
    background-color: rgba(165,165,165,.1);
  }
  50%{
    background-color: rgba(165,165,165,.3);
  }
  100%{
    background-color: rgba(165,165,165,.1);
  }
}

@-webkit-keyframes pulse
{
  0%{
    background-color: rgba(165,165,165,.1);
  }
  50%{
    background-color: rgba(165,165,165,.3);
  }
  100%{
    background-color: rgba(165,165,165,.1);
  }
}

.collapsible button {
  cursor: pointer;
  color: $text;
  outline: none;
  border: none;
  background-color: $bg;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
}

.collapsible button:hover {
  color: $button_highlight;
}

.collapsible #arrow {
  position: relative;
  margin-right: 1em;
  font-size: 0.8em;
  bottom: 0.1em;
  filter: drop-shadow(1px 1px 1px black)
}

.collapsible .description {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.animate {
  transition: height 0.2s ease-in-out;
}

.animate.grow {
  transform: scale(1.5);
}